
.receitas{
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 20%;
	margin: 1rem;
	padding: 1rem;
	border: 1px solid #E45700;
	border-radius: 5px;
}

.preparo{
	text-align: justify;
}

img{
	width: 250px;
	height: 150px;
}


 @media screen and (max-width: 768px) {
	.receitas{
		width: 80%;
		margin: 2rem 2rem;
		padding: 1rem 1rem;
	}

	img{
		width: 200px;
		height: 100px;
	}

	h1, p{
		font-size: 16px;
		align-items: center;
	}
	
}